<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home/home.css">
    <title>Home</title>
</head>
<body>
    <nav class="nav">
        <div class="container">
            
            <div class="logo" >
                <a href="#" ><img src="/home/img/LOGO.png" alt="logo" style="width: 80px; height: 80px;"></a>
            </div>
            
            <div class="main_list" id="mainListDiv">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/cadastroUnidades">Adicionar Unidade</a></li>
                    <li><a href="/cadastroOfertas">Adicionar Ofertas</a></li>
                    <li><a href="/cadLogin">Adicionar Usuario</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
         
        </div>
    </nav>
        
    <section class="home"></section>
</body>
</html>